node-red-dashboard.json
[
    {
        "id": "d239f94ab2f21f46",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f25d0d19b4f899b6",
        "type": "mqtt in",
        "z": "d239f94ab2f21f46",
        "name": "",
        "topic": "/water_level",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "3690541e7d6f5bef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "f17dbd1ac7c4cc72",
                "7f8a38152d126a9b"
            ]
        ]
    },
    {
        "id": "f17dbd1ac7c4cc72",
        "type": "debug",
        "z": "d239f94ab2f21f46",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "35e9edef9b930722",
        "type": "inject",
        "z": "d239f94ab2f21f46",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "f9dc0e826a943382"
            ]
        ]
    },
    {
        "id": "f9dc0e826a943382",
        "type": "mqtt out",
        "z": "d239f94ab2f21f46",
        "name": "",
        "topic": "/feedback",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3690541e7d6f5bef",
        "x": 380,
        "y": 500,
        "wires": []
    },
    {
        "id": "7f8a38152d126a9b",
        "type": "json",
        "z": "d239f94ab2f21f46",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "1aa65b788ae7d73e",
                "0c683a6cbf5cb5b4"
            ]
        ]
    },
    {
        "id": "1aa65b788ae7d73e",
        "type": "function",
        "z": "d239f94ab2f21f46",
        "name": "addtime",
        "func": "\nvar payload = msg.payload;\n\n\nvar waterMatch = payload.match(/Water Level: ([\\d.]+) cm/);\n\n\nvar water = waterMatch ? parseFloat(waterMatch[1]).toFixed(1) : \"No Data\";\n\n\nvar date = new Date();\nvar Day = date.getDate().toString();\nvar Month = (date.getMonth() + 1).toString(); \nvar Year = date.getFullYear().toString();\nvar Hour = date.getHours().toString();\nvar Minutes = date.getMinutes().toString();\nvar Seconds = date.getSeconds().toString();\n\nmsg.payload = Day + \"/ \" + Month + \"/\" + Year +\n    \",\" + Hour + \": \" + Minutes + \":\" + Seconds +\n    \",\" + water;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 400,
        "wires": [
            [
                "ebfa0de1cc1a47b2"
            ]
        ]
    },
    {
        "id": "ebfa0de1cc1a47b2",
        "type": "file",
        "z": "d239f94ab2f21f46",
        "name": "",
        "filename": "/home/os/Project/DataLogger/data_water.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 850,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0c683a6cbf5cb5b4",
        "type": "function",
        "z": "d239f94ab2f21f46",
        "name": "Split Water",
        "func": "var payload = msg.payload;\n\nvar waterMatch = payload.match(/Water Level: ([\\d.]+) cm/);\n\nvar waterValue = waterMatch ? parseFloat(waterMatch[1]).toFixed(1) : \"No Data\";\n\nvar water = {\n    \"payload\": waterValue,\n    \"topic\": \"Water\"\n};\n\nreturn [water];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 160,
        "wires": [
            [
                "14c0af70c0a304de",
                "cca3ddcecf76198f",
                "b11a68a553526fef"
            ]
        ]
    },
    {
        "id": "b11a68a553526fef",
        "type": "ui_text",
        "z": "d239f94ab2f21f46",
        "group": "cc69cdc8025974ec",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water Level",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#23b2e1",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "14c0af70c0a304de",
        "type": "ui_gauge",
        "z": "d239f94ab2f21f46",
        "name": "",
        "group": "4acbfbc846d6e958",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Level",
        "label": "cm",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#1ae6ea",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "cca3ddcecf76198f",
        "type": "ui_chart",
        "z": "d239f94ab2f21f46",
        "name": "",
        "group": "b21ac42440bfff3d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chart Water",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2078b6",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3690541e7d6f5bef",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.66.221",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc69cdc8025974ec",
        "type": "ui_group",
        "name": "Text",
        "tab": "a93f3988b8488faf",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4acbfbc846d6e958",
        "type": "ui_group",
        "name": "guage",
        "tab": "a93f3988b8488faf",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b21ac42440bfff3d",
        "type": "ui_group",
        "name": "Chart",
        "tab": "a93f3988b8488faf",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a93f3988b8488faf",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]